<nav class="navbar navbar-expand-lg navbar-dark hft-navbar fixed-top">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img
        src="/assets/images/logo.png"
        alt="HFT Logo"
        class="logo me-2"
      />
      <span class="brand-text">Highly Flavored Treats</span>
    </a>

    <!-- Mobile toggle -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#hftNavbar"
      aria-controls="hftNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="hftNavbar">
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/delivery">Delivery</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-pink ms-lg-2" routerLink="/contact">
            Contact
          </a>
        </li>

        <!-- Auth -->
        <ng-container *ngIf="auth.user$ | async as user; else loggedOut">
          <li class="nav-item dropdown ms-lg-3">
            <a
              class="nav-link dropdown-toggle d-flex align-items-center"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                *ngIf="user.picture"
                [src]="user.picture"
                class="avatar me-2"
                alt="avatar"
              />
              <span>{{ user.name || user.email }}</span>
            </a>

            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" routerLink="/admin/products">
                  Products
                </a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/admin/orders">
                  Orders
                </a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <button class="dropdown-item text-danger" (click)="logout()">
                  Log out
                </button>
              </li>
            </ul>
          </li>
        </ng-container>

        <ng-template #loggedOut>
          <li class="nav-item ms-lg-3">
            <button class="btn btn-pink" (click)="login()">Log in</button>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
